source /boot/grub/config.cfg

menuentry "TenebraOS - Live" --hotkey=l {
    linux   /live/vmlinuz boot=live components quiet splash
    initrd  /live/initrd.img
}

menuentry "TenebraOS - Live (failsafe)" --hotkey=f {
    linux   /live/vmlinuz boot=live components memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
    initrd  /live/initrd.img
}

menuentry "TenebraOS - Live (RAM)" --hotkey=r {
    linux   /live/vmlinuz boot=live components quiet splash toram
    initrd  /live/initrd.img
}

submenu "Utilities..." --hotkey=u {
    if [ "${grub_platform}" = "efi" ]; then
        menuentry "UEFI Firmware Settings" --hotkey=f {
            fwsetup
        }
    fi
}
