[Desktop Entry]
Type=Application
Name=Install TenebraOS
Name[en]=Install TenebraOS
Comment=Install TenebraOS on this computer
Comment[en]=Install TenebraOS on this computer
Exec=/usr/local/bin/tenebraos-installer.sh
Icon=calamares
Terminal=false
Categories=Qt;System;
