[Desktop Entry]
Type=Application
Name=Set Tenebra Wallpaper
Exec=/usr/local/bin/set-tenebra-wallpaper.sh
Icon=preferences-desktop-wallpaper
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=1
