[Desktop Entry]
Name=TenebraOS
Name[en]=TenebraOS
X-KDE-PluginInfo-Name=tenebraos
X-KDE-PluginInfo-Author=TenebraOS
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
