[Desktop Entry]
Name=Tenebra
Name[en]=Tenebra
X-KDE-PluginInfo-Name=tenebra
X-KDE-PluginInfo-Author=Tenebra
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
